:root {
    --secondary-color: #9967ff;
    --detail: #a578ff;
    --background-color: #121668;
    --secondary-background-color: #06163a;
    --separator-color: #163b99;
    --white: white;
    --window: #0c0f53;
}

.container {
    background-color: var(--background-color);
    padding: 1vw;
    width: 100%;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1em;
    gap: 2vw;
    overflow-y: auto;
    height: 60vh;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 1vw;
}

.localItem {
    background-color: var(--secondary-background-color);
    border-radius: 10px;
}

.localTools {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tools {
    display: flex;
    background: transparent;
    border: none;
    color: white;
    font-size: 2vw;
    cursor: pointer;
}

.localEmployee {
    text-align: center;
    width: 100%;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

@media(max-width: 490px) {
    .container {
        padding: 9vw 0 0;
        overflow-y: auto;
        overflow-x: hidden;
        height: 70%;
    }
}