@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --secondary-color: #9967ff;
  --detail: #a578ff;
  --background-color: #121668;
  --secondary-background-color: #06163a;
  --separator-color: #163b99;
  --white: white;
}

body{
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: white;
}

.successMsg{
    color: rgb(2 167 2);
    font-weight: bold;
    background-color: #ffffff9e;
    font-size: 1vw;
    padding: 0 !important;
    border-radius: 10px;
    padding: 1vw !important
}

.errorMsg{
  color: rgb(255, 66, 66);
  font-weight: bold;
  font-size: 1vw;
  padding: 0 !important;
}

.info{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 2vw;
}

@media(max-width: 740px){
  .errorMsg{
    font-size: 18px;
  }
}